<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
    android:versionCode="1" android:versionName="1.0" 
    package="com.tumaku.minombre">
    <uses-sdk android:minSdkVersion="10"/>
    
    <application android:debuggable="true" android:icon="@drawable/ic_launcher" android:label="Mi Nombre">
        <activity android:name=".MiNombre"
            android:label="Mi Nombre" >
           <intent-filter><action android:name="android.intent.action.MAIN"/>
             <category android:name="android.intent.category.LAUNCHER"/>
           </intent-filter>
         </activity>
        <activity android:name="com.tumaku.minombre.SettingsActivity"
                  android:label="@string/settingsActivity">
        </activity>     
    </application>
</manifest>